body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #616161;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

#content {
    height: 2000px; /* Just for demonstration purposes */
}

/* Modify navbar on scroll */
.navbar-scrolled {
    background-color: rgba(0, 0, 0, 0.8);
}

.navbar-scrolled a {
    color: #fff;
}
