body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
  }
  
  nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin: 0 20px;
  }
  
  #mainSection {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
  }
  
  /* Add this CSS for the transitioning effect */
.centered-text {
    position: absolute;
    transition: all 0.5s ease;
  }
  
  .text-moved {
    transform: translate(0, -50vh);
  }
  
  
  #signup {
    height: 100vh;
    background-color: #f9f9f9;
  }
  