


</body>
<!-- late load scripts -->
<script src="src/dynamics/theme.js"></script>
</html>


<!-- light mode #e0d7c1 -->
<!-- for title #5F4C41 -->
<!-- text : #E7B38F -->


<!-- dark mode #292929 -->
<!-- text : #616161 -->