    <%- include('header') %>
    
    <nav id="navbar">
        <div class="container">
            <a href="index.html" id="titler" class="hover-grow title">bonk!</a>
      
            <div class="right-elements">
      
                <!-- dark/light switch -->
                <div class="toggle-switch">
                    <input type="checkbox" id="mode-switch" onclick="themer()" checked>
                    <label for="mode-switch">
                        <div class="slider hover-grow">L</div>
                    </label>
                </div>
      
                <!-- login -->
                <div class="login">
                    <a href="#" onclick="opener()"><button id="main-login">LOGIN</button></a>
                    <div id="modal-wrapper" class="modal" style="display: block;">
      
                        <form class="modal-content" action="/login" method="POST">
      
                            <div class="imgcontainer">
                                <span onclick="document.getElementById('modal-wrapper').style.display='none'"
                                    class="close" title="Close PopUp">&times;</span>
                                <div class="tit-text">LOGIN PAGE</div>
                            </div>
      
                            <div class="cont">
                                <input class="inpflogin" type="text" placeholder="Username" name="username" required>
                                <input class="inpflogin" type="password" placeholder="Password" name="password"
                                    required>
                                  <div id="errmsg" style="margin: 0px auto; text-align: center; color: var(--color-t2);"><%= errmsg %></div>
                                <button type="submit" class="login-but">Login</button>
                                <a href="/register"><div class="atext">dont have an account yet?</div></a>  
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
      </nav>

      <div id="body-container">
        <div class="body-t-med">
            In a city of endless stories, there exists a hidden library, known only to those who seek it. Within its walls lie tales of ancient wisdom and boundless discovery.
            <br><br>As you step into this hidden sanctuary, a single journal catches your eye, filled with secrets waiting to be uncovered.
            <br><br>Beside it, a recruit-self button awaits, inviting you to embark on your own journey of exploration and connection.
            <br><br>With a click, you open the door to a world of endless possibilities.
            <br><br>Welcome to the unseen library.
        </div>
        <a href="/register" style="text-decoration: none;">
            <div class="body-title" style="margin: 3% auto; color: var(--color-t1); font-size: xx-large;">Recruit-Self
            </div>
        </a>
    </div>
    
    <%- include('footer') %>
