<nav id="navbar">
    <div class="container">
        <a href="index.html" id="titler" class="hover-grow title">lumber-gumber</a>
        
        <div class="right-elements">

            <!-- dark/light switch -->
            <div class="toggle-switch">
                <input type="checkbox" id="mode-switch" onclick="themer()">
                <label for="mode-switch">
                <div class="slider hover-grow">L</div>
                </label>
            </div>

            <!-- login -->
            <div class="login">
                <a href="#" onclick="opener()"><button id="main-login">LOGIN</button></a>
                <div id="modal-wrapper" class="modal">

                    <form class="modal-content animate" action="/login" method="POST">
                          
                      <div class="imgcontainer">
                        <span 
                        onclick="document.getElementById('modal-wrapper').style.display='none'" 
                        class="close" title="Close PopUp">&times;</span>
                        <!-- <img src="" alt="Avatar" class="avatar">   add your picture link -->
                        <h1 class="tit-text" style="font-family: monospace;">Login Page</h1>
                      </div>
                  
                      <div class="cont">
                        <input type="text" placeholder="Username" name="username">
                        <input type="password" placeholder="Password" name="password">        
                        <button type="submit" class="login-but">Login</button>                            
                        <!-- <input type="checkbox" style="margin:26px 30px;"> Remember me       -->
                        <a href="/register" class="pwd-txt">Forgot Password ?</a>
                        
                      </div>
                      
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</nav>