<%- include("header") %>
<%- include("navbar") %>

<div id="body-container" style="display: block;">
    <div id="uname" style="margin: 0px auto; margin-bottom: 2%;text-align: center; color: var(--color-t1);">2<sup>nd</sup> Question</div>
    <div class="body-t-med" style="text-align: left;">
        I am born from the whispers of the past, carefully preserved for future generations. I hold stories and experiences, some grand and some mundane, all waiting to be rediscovered. I can transport you to another time and place, but only if you possess the key to unlock my secrets. What am I?
    </div>

    <div>
        <input onkeypress="handleKeyPress(event)" type="text" id="answered" class="answer" placeholder="Your answer goes here" onfocus="this.placeholder=''" onblur="this.placeholder='Your answer goes here'">
    </div>

    <div>
        <button class="ans-but" onclick="check()">SUBMIT</button>
    </div>
    
        
</div>

<script>
    document.title = "bonk! | Second";
    function logout () {
        window.location.href = "/logout";
    }
    window.onload = function () {
        document.getElementById("main-login").textContent = "LOGOUT";   
        document.getElementById("main-login").onclick = logout;
    }


    // Answer checking

    function handleKeyPress(event) {
        // Check if the pressed key is Enter (key code 13)
        if (event.keyCode === 13) {
            // Run the check function
            check();
        }
    }

    function check () {
        var answer = document.getElementById('answered').value;
        console.log(answer);
        if (answer == "archive") {
            window.location.href = '/qn3';
        } else {
            document.getElementById('answered').value = "";
        }
    }
</script>


<%- include("footer") %>