
	<%- include('header') %>

    <!-- include the navbar view -->
    <%- include('navbar') %>
	
	<div id="body-container">
		<div class="body-title">Sign-Up</div>
		<br>
		<div class="body-t-small">kekw</div>

		<form action="/register" method="POST">
			<input class="inp" type="text" name="name"
				placeholder="nickname" required><br>
			<input class="inp" type="text" name="username"
				placeholder="username" required><br>
			<input class="inp" type="password" name="password"
				placeholder="password" required><br>
			<button class="div-center">Go Dawg</button>
		</form>
	</div>
	<script>
		window.onload = function () {
			document.getElementById("main-login").style.display = "none";
		}
	</script>

	<%- include('footer') %>
