<%- include("header") %>
<%- include("navbar") %>

<div id="body-container">
    <div id="uname" style="margin: 0px auto; text-align: center; color: var(--color-t1);"><%= uname %></div>
    <div class="body-title">This is a secret page</div>
    <br>
    
    
</div>

<script>
    window.onload = function () {
        document.getElementById("main-login").style.display = "none";
    }
</script>

<%- include('footer') %>