<%- include("header") %>
<%- include("navbar") %>

<div id="body-container">
    <div id="uname" style="margin: 0px auto; text-align: center; color: var(--color-t1);"><%= uname %></div>
    <div class="body-t-med" style="width: 100%;">I see you have entered the abode<br>Go on move to the tasks</div>
    <br>
    <div class="rec-container">
    <a href="/qn1" style="text-decoration: none;">
        <!-- <div class="body-title" style="margin: 3% auto; color: var(--color-t1); font-size: xx-large;">Recruit-Self
        </div> -->
        <button class="rec-button" style="width: 23%; height: 6%;">
            start
        </button>
    </a>
</div>
    
    
    
</div>

<script>
    document.title = "bonk! | bonjour";
    function logout () {
        window.location.href = "/logout";
    }
    window.onload = function () {
        document.getElementById("main-login").textContent = "LOGOUT";   
        
        // document.getElementById("main-login").removeAttribute("onclick");
        document.getElementById("main-login").onclick = logout;
        //remove the event which opens that login shit
    }
</script>

<%- include('footer') %>