<%- include("header") %>
<%- include("navbar") %>

<div id="body-container">
    <div class="body-title">This is a secret page</div>
    <br>
    
</div>

<script>
    window.onload = function () {
        document.getElementById("main-login").style.display = "none";
    }
</script>

<%- include('footer') %>