@import "/./src/dynamics/theme.js";
@import "/./src/assets/fonts.css";


*{margin:0px; padding:0px; font-family:monospace;}
/* Full-width input fields */
/* input[type=text], input[type=password] { */
.inpflogin {
    position:relative;
    /* 81 */
    width: 70%;
    padding: 12px 20px;
    
    border: 1px solid #ccc;
    box-sizing: border-box;
	font-size:16px;
    border-radius: 1px;
    background-color: var(--color-title);
    color: var(--color-t2);
    font-family: monospace;
    margin: 1% 15%;
}

.inpflogin::placeholder {
    text-transform: lowercase;
    text-align: center;
    letter-spacing: 1.5px;
}

.inpflogin:focus {
    background-color: var(--color-fg);
    color: var(--color-bg);
}

/* login button */
.login-but {
    text-transform: lowercase;
    background-color: var(--color-t1);
    color: var(--color-bg);
    /* padding: 14px 20px; */
    margin: auto 28.5%;
    margin-top: 15px;
    border: none;
    cursor: pointer;
    align-items: center;
    width: 40%;
    height: 18%;
	font-size:20px;
    border-radius: 1px;
    font-family: monospace;
}
button:hover {
    opacity: 0.8;
}
/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    /* margin: 24px 0 12px 0; */
    /* padding-top: 20px; */
}
.avatar {
    width: 200px;
	height:200px;
    border-radius: 50%;
}
/* The Modal (background) */
.modal {
	display:none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.752);
    font-family: monospace;
    align-content: center;
    align-items: center;
}
/* Modal Content Box */
.modal-content {
    display:flex;  
    flex-direction: column;
    background-color: var(--color-bg);
    margin: 4% auto 15% auto;
    border: 0px solid #888;
    width: 40%;
    height: 60%;
	padding-bottom: 30px;
    border-radius: 1px;
    font-family: monospace;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}
/* text that says "Login Page" */
.tit-text {
    text-align:center;
    font-size: xx-large;
    color: var(--color-title);
    margin-bottom: 40px;
    margin-top: 20px;
    font-family: monospace;
    font-weight: 500;
}
/* text below the Login Button */
.pwd-txt {
    text-decoration:none; 
    align-self: center;
    float:right; 
    text-align: center;
    margin-left: 70px;
    margin-right:50px; 
    margin-top:26px;
    color: var(--color-t1);
}

.pwd-txt:hover {
    color: var(--color-t2);
}
/* text that asks to create an account */
.atext {
    text-decoration: none;
    font-family:monospace;
    text-align: center;
    margin: 2% auto;
    color: var(--color-title);
    font-size: small;
}
/* The Close Button (x) */
.close {
    position: relative;
    top: -25px;
    left: 250px;
    color: var(--color-title);
    font-size: 35px;
    font-weight: bold;
}
.close:hover,.close:focus {
    color: var(--color-t1);
    cursor: pointer;
}
/* Add Zoom Animation */
.animate {
    animation: zoom 0.3s
}

@keyframes zoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}