@import "theme.css";
@import "fonts.css";


body {
    
    margin: 0;
    padding: 0;
    background-color: var(--color-bg);
    transition: background-color 0.3s ease-in;
  }
  
  /* navbar-css */
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease;
  }
  
  nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }

  nav .container h1 {
    font-family: "Lexend Deca",sans-serif;
    font-size: xx-large;
  }

  nav .container a {
    text-decoration: none;
    font-family: "Lexend Deca", sans-serif;
  }
  
  .title {
    font-weight: 550;
    font-family: "Lexend Deca", sans-serif;
    font-size: xx-large;
    color: var(--color-title);
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
    color: #c18c7e;
  }
  
  .if-container {
    display: flex;
    padding: 10px;
    align-items: center;
  }

  #switch-container{position:relative;float:left;}
  #overlay{top:0;left:0;width:100%;height:100%;position:absolute;}

  #content {
    height: 2000px; /* Just for demonstration purposes */
  }
  
  /* Modify navbar on scroll */
  .navbar-scrolled {
    transition: all 0.5s ease-out;
    background-color: var(--color-fg);
  }

  .title-scrolled {
    color : var(--color-t1);
  }

  #nav-button {

  }
  
  /* transition for text hover */
  .hover-grow {
    transition: all 0.4s;
    font-family: Arial, Helvetica, sans-serif ;
  }
  
  .hover-grow:hover {
    color : var(--color-t1)
  }