@import "../assets/theme.css";
@import "../assets/fonts.css";


  body {
    display: flex ;
    margin: 0;
    padding: 0;
    background-color: var(--color-bg);
    transition: background-color 0.3s ease-in;
  }
  
  /* navbar-css */
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease;
  }
  
  nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }

  nav .container h1 {
    font-family: "Lexend Deca",sans-serif;
    font-size: xx-large;
  }

  nav .container a {
    text-decoration: none;
    font-family: "Lexend Deca", sans-serif;
  }
  
  /* text on top of navbar */
  .title {
    font-weight: 550;
    font-family: "Lexend Deca", sans-serif;
    font-size: xx-large;
    color: var(--color-title);
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .if-container {
    display: flex;
    padding: 10px;
    align-items: center;
  }

  #switch-container{position:relative;float:left;}
  #overlay{top:0;left:0;width:100%;height:100%;position:absolute;}

  #content {
    height: 2000px; /* Just for demonstration purposes */
  }
  
  /* Modify navbar on scroll */
  .navbar-scrolled {
    transition: all 0.5s ease-out;
    background-color: var(--color-fg);
  }
  /* change color of title after scroll(js) */
  .title-scrolled {
    color : var(--color-t1);
  }

  /* everything on the right side of navbar */
  .right-elements {
    display:flex;
    align-items: center;
  }
  
  /* the login ref */
  .login a {
    margin-left: 40px;
    margin-right: 100px;
  }

  /* the login button on the right */
  #main-login {
    background-color: var(--color-title);
    font-family: "Lexend Deca", sans-serif;
    color: var(--color-bg);
    padding: 9px 0px;
    margin: 0px 1px;
    border: none;
    cursor: pointer;
    align-items: center;
    width: 50%;
	  font-size:14px;
    border-radius: 9px;
  }

  /* how everything is displayed in the body */
  #body-container {
    align-content: center;
    margin: 0px 500px;
    /* margin-top: 100px; */
    /* align-items: center; */
  }

  /* for big text and darker color */
  .body-title {
    text-align: center;
    margin-bottom: 0px;
    font-family: "Space Mono", monospace;
    font-size: xx-large;
    color: var(--color-t2);
  }

  /* for medium sized text and dark color */
  .body-t-med {
    text-align: center;
    margin-bottom: 0px;
    font-family: "Space Mono", monospace;
    font-size: x-large;
    color: var(--color-t2);
  }

  /* for small text and lighter color */
  .body-t-small {
    text-align: center;
    margin: 0px;
    font-family: "Space Mono", monospace;
    font-size: x-small;
    color: var(--color-t1);
  }

  /* sign up page submit button */
  .div-center {
    background-color: var(--color-t1);
    font-family: monospace;
    color: var(--color-bg);
    padding: 9px 0px;
    margin: 10px 1px;
    border: none;
    cursor: pointer;
    align-items: center;
    width: 100%;
	  font-size: 14px;
  }

  /* sign up page input fields */
  input {
    background-color: var(--color-title);
    font-family: monospace;
    color: var(--color-bg);
    /* padding: 9px 0px; */
    /* border: 0.1px; */
    cursor: pointer;
    align-items: center;
	  font-size: 14px;
  }
  
  /* transition for text hover */
  .hover-grow {
    transition: color 0.2s ease-in;
    font-family: Arial, Helvetica, sans-serif ;
  }
  
  .hover-grow:hover {
    color : var(--color-t1)
  }